---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?format=album&key=ENV[discogs_key]&q=The%20Battle%20for%20Los%20Angeles&secret=ENV[discogs_secret]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '46'
      X-Discogs-Ratelimit-Used:
      - '14'
      Content-Language:
      - en
      Link:
      - <https://api.discogs.com/database/search?format=album&key=ENV[discogs_key]&q=The+Battle+for+Los+Angeles&secret=ENV[discogs_secret]&page=9&per_page=50>;
        rel="last", <https://api.discogs.com/database/search?format=album&key=ENV[discogs_key]&q=The+Battle+for+Los+Angeles&secret=ENV[discogs_secret]&page=2&per_page=50>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 9, "per_page": 50, "items": 440,
        "urls": {"last": "https://api.discogs.com/database/search?format=album&key=ENV[discogs_key]&q=The+Battle+for+Los+Angeles&secret=ENV[discogs_secret]&page=9&per_page=50",
        "next": "https://api.discogs.com/database/search?format=album&key=ENV[discogs_key]&q=The+Battle+for+Los+Angeles&secret=ENV[discogs_secret]&page=2&per_page=50"}},
        "results": [{"country": "Europe", "year": "2010", "format": ["Vinyl", "LP",
        "Album", "Reissue", "Repress"], "label": ["Music On Vinyl", "Epic", "Sony
        Music Entertainment", "Sony Music Entertainment", "Art Saves Lives-The Collective",
        "Music On Vinyl B.V.", "Music On Vinyl B.V.", "Sony Music Entertainment",
        "Record Industry", "Sony/ATV Songs LLC", "Retribution Music", "Sony / ATV
        Music Publishing", "A&M Studios", "Royaltone Studios", "Silent Sound Studios",
        "Southern Tracks", "Sunset Sound", "Westlake Audio", "A&M Studios", "Royaltone
        Studios", "Silent Sound Studios", "Southern Tracks", "Sunset Sound", "Westlake
        Audio", "A&M Mastering Studios"], "type": "release", "genre": ["Rock"], "style":
        ["Alternative Rock", "Funk Metal"], "id": 2179533, "barcode": ["0 886976 399115",
        "0886976399115", "SACEM SACD SDRM SGDL", "BIEM", "LC 00199", "4919931000 1A1
        85729 A MOVLP 062", "4919931000 1B1 85729 B MOVLP062", "88697639911"], "master_id":
        7963, "master_url": "https://api.discogs.com/masters/7963", "uri": "/Rage-Against-The-Machine-The-Battle-Of-Los-Angeles/release/2179533",
        "catno": "MOVLP062", "title": "Rage Against The Machine - The Battle Of Los
        Angeles", "thumb": "https://img.discogs.com/2l4E-MvZMnGrPMT0KOXkK6iPWZ8=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-2179533-1281621005.jpeg.jpg",
        "cover_image": "https://img.discogs.com/yUc-raUcHhL8nV03oiFxe0y6JH0=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-2179533-1281621005.jpeg.jpg",
        "resource_url": "https://api.discogs.com/releases/2179533", "community": {"want":
        1292, "have": 4284}, "format_quantity": 1, "formats": [{"name": "Vinyl", "qty":
        "1", "text": "180 Gram", "descriptions": ["LP", "Album", "Reissue", "Repress"]}]},
        {"country": "Europe", "year": "2012", "format": ["Vinyl", "LP", "Album", "Limited
        Edition", "Numbered", "Reissue", "Repress"], "label": ["Epic", "Music On Vinyl",
        "Sony Music Entertainment", "Sony Music Entertainment", "A&M Studios", "Royal
        Tone Studios", "Silent Sound Studios", "Southern Tracks", "Sunset Sound",
        "Westlake Audio", "A&M Studios", "Royal Tone Studios", "Silent Sound Studios",
        "Southern Track[...]
- request:
    method: get
    uri: https://api.discogs.com/masters/7963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '25'
      X-Discogs-Ratelimit-Remaining:
      - '10'
      X-Discogs-Ratelimit-Used:
      - '15'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 7963, "main_release": 395120, "most_recent_release": 12574480,
        "resource_url": "https://api.discogs.com/masters/7963", "uri": "https://www.discogs.com/Rage-Against-The-Machine-The-Battle-Of-Los-Angeles/master/7963",
        "versions_url": "https://api.discogs.com/masters/7963/versions", "main_release_url":
        "https://api.discogs.com/releases/395120", "most_recent_release_url": "https://api.discogs.com/releases/12574480",
        "num_for_sale": 664, "lowest_price": 0.61, "images": [{"type": "primary",
        "uri": "", "resource_url": "", "uri150": "", "width": 600, "height": 592},
        {"type": "secondary", "uri": "", "resource_url": "", "uri150": "", "width":
        600, "height": 590}, {"type": "secondary", "uri": "", "resource_url": "",
        "uri150": "", "width": 600, "height": 601}, {"type": "secondary", "uri": "",
        "resource_url": "", "uri150": "", "width": 600, "height": 597}, {"type": "secondary",
        "uri": "", "resource_url": "", "uri150": "", "width": 600, "height": 583},
        {"type": "secondary", "uri": "", "resource_url": "", "uri150": "", "width":
        600, "height": 586}, {"type": "secondary", "uri": "", "resource_url": "",
        "uri150": "", "width": 457, "height": 456}], "genres": ["Rock"], "styles":
        ["Hard Rock", "Heavy Metal", "Funk Metal"], "year": 1999, "tracklist": [{"position":
        "A1", "type_": "track", "title": "Testify", "duration": ""}, {"position":
        "A2", "type_": "track", "title": "Guerrilla Radio", "duration": ""}, {"position":
        "A3", "type_": "track", "title": "Calm Like A Bomb", "duration": ""}, {"position":
        "A4", "type_": "track", "title": "Mic Check", "duration": ""}, {"position":
        "A5", "type_": "track", "title": "Sleep Now In The Fire", "duration": ""},
        {"position": "A6", "type_": "track", "title": "Born Of A Broken Man", "duration":
        ""}, {"position": "B1", "type_": "track", "title": "Born As Ghosts", "duration":
        ""}, {"position": "B2", "type_": "track", "title": "Maria", "duration": ""},
        {"position": "B3", "type_": "track", "title": "Voice Of The Voiceless", "duration":
        ""}, {"position": "B4", "type_": "track", "title": "New Millennium Homes",
        "duration": ""}, {"position": "B5", "type_": "track", "title": "Ashes In The
        Fall", "duration": ""}, {"position": "B6", "type_": "track", "title": "War
        Within A Breath", "duration": ""}], "artists": [{"name": "Rage Against The
        Machine", "anv": "", "join": "", "role": "", "tracks": "", "id": 12212, "resource_url":
        "https://api.discogs.com/artists/12212"}], "title": "The Battle Of Los Angeles",
        "notes": "Album Sales: 2,000,000\r\nFirst Release Date: November 1999\r\n\r\nThe
        third studio album from Rage Against The Machine.\r\n\r\n\"The Battle Of Los
        Angeles\" reached Number 1 in the Billboard Top 200 and produced three hit
        singles:\r\n\"Guerrilla Radio\"\r\n\"Sleep Now In The Fire\"\r\n\"Testify\"",
        "data_quality": "Correct", "videos": [{"uri": "https://www.youtube.com/watch?v=3aJtTjooors",
        "title": "34 Rage Against The Machine - Guerrilla Radio [2010 - The Battle
        Of Los Angeles]", "description": "https://www.discogs.com/ru/Rage-Against-The-Machine-The-Battle-Of-Los-Angeles/release/2179533\n\nThe
        first time I heard this group and this track was in the year 2001.\nThis was
        the screensaver for Tony Hawk''s Pro Skater 2 on the Sony PlayStation. And
        this s", "duration": 248, "embed": true}, {"uri": "https://www.youtube.com/watch?v=Rm1nCYOZB-s",
        "title": "Rage Against The Machine - Guerrilla Radio (Official Music Video)",
        "description": "Official music video for \u201dGuerrilla Radio\u201d by Rage
        Against the Machine\nListen to RATM: https://rageatm.lnk.to/listenYD \nWatch
        more videos by Rage Against the Machine: https://rageatm.lnk.to/listenYD/youtube
        \n\nSubscribe to the official RATM YouTube cha", "duration": 220, "embed":
        true}, {"uri": "https://www.youtube.com/watch?v=Q3dvbM6Pias", "title": "Rage
        Against The Machine - Testify (Official Music Video)", "description": "Official
        music video for \u201dTestify\u201d by Rage Against the Machine\nListen to
        RATM: https://rageatm.lnk.to/listenYD \nWatch more videos by Rage Against
        the Machine: https://rageatm.lnk.to/listenYD/youtube \n\nSubscribe to the
        official RATM YouTube channel: ht", "duration": 224, "embed": true}, {"uri":
        "https://www.youtube.com/watch?v=kl4wkIPiTcY", "title": "Rage Against The
        Machine - Sleep Now in the Fire (Official Music Video)", "description": "Official
        music video for \u201dSleep Now In The Fire\u201d by Rage Against the Machine\nListen
        to RATM: https://rageatm.lnk.to/listenYD \nWatch more videos by Rage Against
        the Machine: https://rageatm.lnk.to/listenYD/youtube \n\nSubscribe to the
        official RATM YouTu", "duration": 234, "embed": true}]}'
  recorded_at: Tue, 25 May 2021 17:16:28 GMT
recorded_with: VCR 6.0.0
