---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?format=album&key=ENV[discogs_key]&q=dsafserhsthrht&secret=ENV[discogs_secret]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '44'
      X-Discogs-Ratelimit-Used:
      - '16'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 1, "per_page": 50, "items": 0,
        "urls": {}}, "results": []}'
  recorded_at: Sun, 23 May 2021 23:56:22 GMT
recorded_with: VCR 6.0.0
