---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?key=ENV[discogs_key]&q=James%20Brown&secret=ENV[discogs_secret]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '58'
      X-Discogs-Ratelimit-Used:
      - '2'
      Content-Language:
      - en
      Link:
      - <https://api.discogs.com/database/search?key=ENV[discogs_key]&q=James+Brown&secret=ENV[discogs_secret]&page=200&per_page=50>;
        rel="last", <https://api.discogs.com/database/search?key=ENV[discogs_key]&q=James+Brown&secret=ENV[discogs_secret]&page=2&per_page=50>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 200, "per_page": 50, "items": 108169,
        "urls": {"last": "https://api.discogs.com/database/search?key=ENV[discogs_key]&q=James+Brown&secret=ENV[discogs_secret]&page=200&per_page=50",
        "next": "https://api.discogs.com/database/search?key=ENV[discogs_key]&q=James+Brown&secret=ENV[discogs_secret]&page=2&per_page=50"}},
        "results": [{"id": 12596, "type": "artist", "master_id": null, "master_url":
        null, "uri": "/artist/12596-James-Brown", "title": "James Brown", "thumb":
        "https://img.discogs.com/wcD5QViPvggOaC3T_D5ql1rHY_E=/150x150/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-12596-1565996731-5432.jpeg.jpg",
        "cover_image": "https://img.discogs.com/9YPKJQIgjrSZwDZ05afIVvR0L6c=/600x479/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-12596-1565996731-5432.jpeg.jpg",
        "resource_url": "https://api.discogs.com/artists/12596"}, {"country": "US",
        "year": "1963", "format": ["Vinyl", "LP", "Album", "Stereo"], "label": ["King
        Records"], "type": "master", "genre": ["Funk / Soul"], "style": ["Rhythm &
        Blues", "Soul"], "id": 65036, "barcode": [], "master_id": 65036, "master_url":
        "https://api.discogs.com/masters/65036", "uri": "/James-Brown-James-Brown-Live-At-The-Apollo/master/65036",
        "catno": "K-826", "title": "James Brown - James Brown Live At The Apollo",
        "thumb": "https://img.discogs.com/azhUepa8ZDadIuMd7dxAIG7Zq14=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-6300716-1446639448-9442.jpeg.jpg",
        "cover_image": "https://img.discogs.com/8tgictMeetEqVCwTLy8VgytqJfg=/fit-in/388x388/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-6300716-1446639448-9442.jpeg.jpg",
        "resource_url": "https://api.discogs.com/masters/65036", "community": {"want":
        20004, "have": 15133}}, {"id": 71291, "type": "artist", "master_id": null,
        "master_url": null, "uri": "/artist/71291-James-Brown-2", "title": "James
        Brown (2)", "thumb": "https://img.discogs.com/Vr82uC26Vwrz3hdI75OeKjq6868=/150x150/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-71291-1184853916.jpeg.jpg",
        "cover_image": "https://img.discogs.com/0uVfm4eAnFeE9PABC_rSfX1cqo8=/200x306/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-imag[...]
- request:
    method: get
    uri: https://api.discogs.com/artists/12596/releases?format=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '25'
      X-Discogs-Ratelimit-Remaining:
      - '22'
      X-Discogs-Ratelimit-Used:
      - '3'
      Content-Language:
      - en
      Link:
      - <https://api.discogs.com/artists/12596/releases?format=album&page=195&per_page=50>;
        rel="last", <https://api.discogs.com/artists/12596/releases?format=album&page=2&per_page=50>;
        rel="next"
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 195, "per_page": 50, "items": 9745,
        "urls": {"last": "https://api.discogs.com/artists/12596/releases?format=album&page=195&per_page=50",
        "next": "https://api.discogs.com/artists/12596/releases?format=album&page=2&per_page=50"}},
        "releases": [{"id": 1727194, "title": "Chonnie-On-Chon / I Won''t Plead No
        More", "type": "master", "main_release": 2182057, "artist": "James Brown /
        James Brown And The Famous Flames*", "role": "Main", "resource_url": "https://api.discogs.com/masters/1727194",
        "year": 1956, "thumb": "", "stats": {"community": {"in_wantlist": 118, "in_collection":
        35}}}, {"id": 1660179, "title": "Love Or A Game ", "type": "master", "main_release":
        2182082, "artist": "James Brown", "role": "Main", "resource_url": "https://api.discogs.com/masters/1660179",
        "year": 1957, "thumb": "", "stats": {"community": {"in_wantlist": 69, "in_collection":
        11}}}, {"id": 1503311, "title": "Po'' Mary / Now Darling ", "type": "master",
        "main_release": 13230719, "artist": "John Littleton And The Capistranos featuring
        James Brow[...]
- request:
    method: get
    uri: https://api.discogs.com/database/search?artist=James%20Brown%20/%20James%20Brown%20And%20The%20Famous%20Flames*&key=ENV[discogs_key]&release_title=Chonnie-On-Chon%20/%20I%20Won%27t%20Plead%20No%20More&secret=ENV[discogs_secret]&year=1956
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
     [...]
- request:
    method: get
    uri: https://api.discogs.com/database/search?artist=James%20Brown&key=ENV[discogs_key]&release_title=Love%20Or%20A%20Game%20&secret=ENV[discogs_secret]&year=1957
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '55'
      X-Discogs-Ratelimit-Used:
    [...]
- request:
    method: get
    uri: https://api.discogs.com/database/search?artist=John%20Littleton%20And%20The%20Capistranos%20featuring%20James%20Brown,%20Alex%20Sample%20%26%20Orchestra&key=ENV[discogs_key]&release_title=Po%27%20Mary%20/%20Now%20Darling%20&secret=ENV[discogs_secret]&year=1958
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '54'
      X-Discogs-Ratelimit-Used:
      - '6'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 1, "per_page": 50, "items": 0,
        "urls": {}}, "results": []}'
  recorded_at: Tue, 25 May 2021 17:16:26 GMT
- request:
    method: get
    uri: https://api.discogs.com/database/search?artist=James%20Brown&key=ENV[discogs_key]&release_title=The%20Bells%20&secret=ENV[discogs_secret]&year=1960
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '53'
      X-Discogs-Ratelimit-Used:
      - '7'
 [...]
- request:
    method: get
    uri: https://api.discogs.com/database/search?artist=James%20Brown%20Presents%20His%20Band*&key=ENV[discogs_key]&release_title=Suds%20/%20Sticky&secret=ENV[discogs_secret]&year=1961
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '52'
      X-Discogs-Ratelimit-Used:
      - '8'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 1, "per_page": 50, "items": 0,
        "urls": {}}, "results": []}'
  recorded_at: Tue, 25 May 2021 17:16:26 GMT
- request:
    method: get
    uri: https://api.discogs.com/database/search?artist=James%20Brown%20Presents%20His%20Band*&key=ENV[discogs_key]&release_title=Night%20Train&secret=ENV[discogs_secret]&year=1961
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '51'
      X-Discogs-Ratelimit-Used:
      - '9'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 1, "per_page": 50, "items": 0,
        "urls": {}}, "results": []}'
  recorded_at: Tue, 25 May 2021 17:16:26 GMT
- request:
    method: get
    uri: https://api.discogs.com/database/search?artist=James%20Brown,%20Herb%20Hardesty&key=ENV[discogs_key]&release_title=Sticky%20/%20Perdido%20Street&secret=ENV[discogs_secret]&year=1962
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '50'
      X-Dis[...]
- request:
    method: get
    uri: https://api.discogs.com/database/search?artist=James%20Brown&key=ENV[discogs_key]&release_title=Good,%20Good,%20Twistin%27%20With%20James%20Brown&secret=ENV[discogs_secret]&year=1962
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '49'
      X-Di[...]
- request:
    method: get
    uri: https://api.discogs.com/database/search?artist=James%20Brown&key=ENV[discogs_key]&release_title=Prisoner%20Of%20Love&secret=ENV[discogs_secret]&year=1963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '48'
      X-Discogs-Ratelimit-Used:
      -[...]
- request:
    method: get
    uri: https://api.discogs.com/database/search?artist=James%20Brown&key=ENV[discogs_key]&release_title=Live%20At%20The%20Apollo&secret=ENV[discogs_secret]&year=1963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '47'
      X-Discogs-Ratelimit-Used:
   [...]
