---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/database/search?format=album&key=ENV[discogs_key]&q=The%20Payback&secret=ENV[discogs_secret]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '60'
      X-Discogs-Ratelimit-Remaining:
      - '60'
      X-Discogs-Ratelimit-Used:
      - '0'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"page": 1, "pages": 40, "per_page": 50, "items": 1966,
        "urls": {"last": "https://api.discogs.com/database/search?format=album&key=ENV[discogs_key]&q=The+Payback&secret=ENV[discogs_secret]&page=40&per_page=50",
        "next": "https://api.discogs.com/database/search?format=album&key=ENV[discogs_key]&q=The+Payback&secret=ENV[discogs_secret]&page=2&per_page=50"}},
        "results": [{"country": "US", "year": "1973", "format": ["Vinyl", "LP", "Album"],
        "label": ["Polydor", "Polydor", "Polydor Incorporated", "International Recording",
        "Advantage Sound", "Advantage Sound", "Dynatone Publishing Co.", "Belinda
        Music, Inc.", "Unichappell & Co.", "Polydor Incorporated", "Sterling Sound"],
        "type": "master", "genre": ["Funk / Soul"], "style": ["Soul", "Funk"], "id":
        33990, "barcode": ["2-3007 A", "2-3007 B", "2-3007 C", "2-3007 D", "PD-2-3007-A-1A",
        "PD-2-3007-B-1B", "PD-2-3007-C-1B", "PD-2-3007-D-1A", "PD\u22192-3007-A-1A
        \u2461  10-13-73", "PD-2-3007-B-1A \u2461", "PD-2-3007-C-1A", "PD-2-3007-D-1A",
        "STERLING RL", "BMI"], "master_id": 33990, "master_url": "https://api.discogs.com/masters/33990",
        "uri": "/James-Brown-The-Payback/master/33990", "catno": "PD 2-3007", "title":
        "James Brown - The Payback", "thumb": "https://img.discogs.com/f6CfVzmLodKt6YxX4Bfi5KVS6Q8=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-719877-1247870750.jpeg.jpg",
        "cover_image": "https://img.discogs.com/MUELn9ObTL-ZpxyUgF5M9D_Kumc=/fit-in/600x591/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-719877-1247870750.jpeg.jpg",
        "resource_url": "https://api.discogs.com/masters/33990", "community": {"want":
        14192, "have": 8226}}, {"country": "US", "year": "1973", "format": ["Vinyl",
        "LP", "Album"], "label": ["Polydor", "Polydor", "Polydor Incorporated", "International
        Recording", "Advantage Sound", "Advantage Sound", "Dynatone Publishing Co.",
        "Belinda Music, Inc.", "Unichappell & Co.", "Polydor Incorporated", "Sterling
        Sound"], "type": "release", "genre": ["Funk / Soul"], "style": ["Soul", "Funk"],
        "id": 719877, "barcode": ["2-3007 A", "2-3007 B", "2-3007 C", "2-3007 D",
        "PD-2-3007-A-1A", "PD-2-3007-B-1B", "PD-2-3007-C-1B", "PD-2-3007-D-1A", "PD\u22192-3007-A-1A
        \u2461  10-13-73", "PD-2-3007-B-1A \u2461", "PD-2-3007-C-1A", "PD-2-3007-D-1A",
        "STERLING RL", "BMI"], "master_id": 33990, "master_url": "https://api.discogs.com/masters/33990",
        "uri": "/James-Brown-The-Payback/release/719877", "catno": "PD 2-3007", "title":
        "James Brown - The Payback", "thumb": "https://img.discogs.com/f6CfVzmLodKt6YxX4Bfi5KVS6Q8=/fit-in/150x150/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-719877-1247870750.jpeg.jpg",
        "cover_image": "https://img.discogs.com/MUELn9ObTL-ZpxyUgF5M9D_Kumc=/fit-in/600x591/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-719877-1247870750.jpeg.jpg",
        "resource_url": "https://api.discogs.com/releases/719877", "community": {"want":
        1670, "have": 1629}, "format_quantity": 2, "formats": [{"name": "Vinyl", "qty":
        "2", "descriptions": ["LP", "Album"]}]}, {"country": "US", "year": "1973",
        "format": ["Vinyl", "LP", "Album"], "label": ["Polydor"], "type": "release",
        "genre": ["Funk / Soul"], "style": ["Soul", "Funk"], "id": 3414903, "barcode":
        [], "master_id": 33990, "master_url": "https://api.discogs.com/masters/33990",
        "uri": "/James-Brown-The-Payback/release/3414903", "catno": "PD 2-3007", "title":
        "James Brown - The Payback", "thumb": "https://img.discogs.com/XrNTx6m1DsAskxOT92DAxZI0Z[...]
- request:
    method: get
    uri: https://api.discogs.com/masters/33990
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '25'
      X-Discogs-Ratelimit-Remaining:
      - '24'
      X-Discogs-Ratelimit-Used:
      - '1'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 33990, "main_release": 719877, "most_recent_release": 6205299,
        "resource_url": "https://api.discogs.com/masters/33990", "uri": "https://www.discogs.com/James-Brown-The-Payback/master/33990",
        "versions_url": "https://api.discogs.com/masters/33990/versions", "main_release_url":
        "https://api.discogs.com/releases/719877", "most_recent_release_url": "https://api.discogs.com/releases/6205299",
        "num_for_sale": 243, "lowest_price": 3.66, "images": [{"type": "primary",
        "uri": "", "resource_url": "", "uri150": "", "width": 600, "height": 591},
        {"type": "secondary", "uri": "", "resource_url": "", "uri150": "", "width":
        600, "height": 292}, {"type": "secondary", "uri": "", "resource_url": "",
        "uri150": "", "width": 600, "height": 578}, {"type": "secondary", "uri": "",
        "resource_url": "", "uri150": "", "width": 600, "height": 595}, {"type": "secondary",
        "uri": "", "resource_url": "", "uri150": "", "width": 600, "height": 598},
        {"type": "secondary", "uri": "", "resource_url": "", "uri150": "", "width":
        600, "height": 599}, {"type": "secondary", "uri": "", "resource_url": "",
        "uri150": "", "width": 600, "height": 595}], "genres": ["Funk / Soul"], "styles":
        ["Soul", "Funk"], "year": 1973, "tracklist": [{"position": "A1", "type_":
        "track", "title": "The Payback", "duration": "7:35"}, {"position": "A2", "type_":
        "track", "title": "Doing The Best I Can", "duration": "7:50"}, {"position":
        "B1", "type_": "track", "title": "Take Some, Leave Some", "duration": "8:22"},
        {"position": "B2", "type_": "track", "title": "Shoot Your Shot", "duration":
        "8:08"}, {"position": "C1", "type_": "track", "title": "Forever Suffering",
        "duration": "5:42"}, {"position": "C2", "type_": "track", "title": "Time Is
        Running Out Fast", "duration": "12:37"}, {"position": "D1", "type_": "track",
        "title": "Stone To The Bone", "duration": "10:05"}, {"position": "D2", "type_":
        "track", "title": "Mind Power", "duration": "10:35"}], "artists": [{"name":
        "James Brown", "anv": "", "join": "", "role": "", "tracks": "", "id": 12596,
        "resource_url": "https://api.discogs.com/artists/12596"}], "title": "The Payback",
        "notes": "The Payback is the 37th studio album by James Brown. The album was
        released in December 1973, by Polydor Records. It was originally scheduled
        to become the soundtrack for the blaxploitation film Hell Up in Harlem, but
        was rejected by the film''s producers, who dismissed it as \"the same old
        James Brown stuff.\"  It went to #1 on the Soul Albums chart for two weeks
        and cracked the Pop Albums chart in the Top 40. It was Brown''s only studio
        album to be certified gold.\n\nThe title track went number one on the R&B
        charts and has been heavily sampled by musical artists. ", "data_quality":
        "Correct", "videos": [{"uri": "https://www.youtube.com/watch?v=b8Jan4ontUg",
        "title": "James Brown- Take Some...Leave Some", "description": "", "duration":
        515, "embed": true}, {"uri": "https://www.youtube.com/watch?v=D7ks03zsg1o",
        "title": "The Payback", "description": "Provided to YouTube by Universal Music
        Group\n\nThe Payback \u00b7 James Brown\n\nThe Payback\n\n\u2117 1973 Universal
        Records, a Division of UMG Recordings, Inc.\n\nReleased on: 1973-01-01\n\nProducer,
        Associated  Performer, Recording  Arranger, Vocalist: James Brown\nStu", "duration":
        460, "embed": true}, {"uri": "https://www.youtube.com/watch?v=cknHGZk[...]
