---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '25'
      X-Discogs-Ratelimit-Remaining:
      - '23'
      X-Discogs-Ratelimit-Used:
      - '2'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"hello": "Welcome to the Discogs API.", "api_version": "v2", "documentation_url":
        "http://www.discogs.com/developers/", "statistics": {"releases": 14015148,
        "artists": 7555454, "labels": 1707384}}'
  recorded_at: Thu, 20 May 2021 22:58:26 GMT
- request:
    method: get
    uri: https://api.discogs.com/releases/12935216
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '25'
      X-Discogs-Ratelimit-Remaining:
      - '22'
      X-Discogs-Ratelimit-Used:
      - '3'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 12935216, "status": "Draft", "year": 1975, "resource_url": "https://api.discogs.com/releases/12935216",
        "uri": "https://www.discogs.com/Zzebra-Panic/release/12935216", "artists":
        [{"name": "Zzebra", "anv": "", "join": "", "role": "", "tracks": "", "id":
        678868, "resource_url": "https://api.discogs.com/artists/678868"}], "artists_sort":
        "Zzebra", "labels": [{"name": "Klimt Records", "catno": "2383 326", "entity_type":
        "1", "entity_type_name": "Label", "id": 164707, "resource_url": "https://api.discogs.com/labels/164707"}],
        "series": [], "companies": [{"name": "Escape Studios", "catno": "", "entity_type":
        "23", "entity_type_name": "Recorded At", "id": 304796, "resource_url": "https://api.discogs.com/labels/304796"},
        {"name": "Advision Studios", "catno": "", "entity_type": "23", "entity_type_name":
        "Recorded At", "id": 265265, "resource_url": "https://api.discogs.com/labels/265265"}],
        "formats": [{"name": "Vinyl", "qty": "1", "descriptions": ["LP", "Album"]}],
        "data_quality": "Needs Major Changes", "community": {"have": 0, "want": 0,
        "rating": {"count": 0, "average": 0.0}, "submitter": {"username": "1000Fingers",
        "resource_url": "https://api.discogs.com/users/1000Fingers"}, "contributors":
        [{"username": "1000Fingers", "resource_url": "https://api.discogs.com/users/1000Fingers"}],
        "data_quality": "Needs Major Changes", "status": "Draft"}, "format_quantity":
        1, "date_added": "2018-12-15T02:27:15-08:00", "date_changed": "2018-12-15T17:37:40-08:00",
        "num_for_sale": 0, "lowest_price": null, "title": "Panic", "country": "UK",
        "released": "1975", "notes": "Recorded at Escape Studios (Egerton, Kent) and
        Advision (London)", "released_formatted": "1975", "identifiers": [], "genres":
        ["Jazz", "Rock"], "styles": ["Jazz-Rock", "Prog Rock"], "tracklist": [{"position":
        "A1", "type_": "track", "title": "Panic", "extraartists": [{"name": "John
        McCoy", "anv": "", "join": "", "role": "Written-By", "tracks": "", "id": 282948,
        "resource_url": "https://api.discogs.com/artists/282948"}], "duration": ""},
        {"position": "A2", "type_": "track", "title": "You''ve Lost That Lovin'' Feeling",
        "extraartists": [{"name": "Dave Quincy", "anv": "Quincey", "join": "", "role":
        "Arranged By", "tracks": "", "id": 678867, "resource_url": "https://api.discogs.com/artists/678867"},
        {"name": "Tommy Eyre", "anv": "Eyre", "join": "", "role": "Arranged By", "tracks":
        "", "id": 356004, "resource_url": "https://api.discogs.com/artists/356004"},
        {"name": "Mann And Wei[...]
[...]
