---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Y2Q3ZmE1MDczMjQ0NDI0ODkzMmQ2OWMzNTM5NGNlYzI6NmNmNmJhZDRiMjRjNDlkYzliZjg2N2FkMzA0N2UxMDY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 69ab85b2baa483bd
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQB07Gy58RqpXtbaFFjRjyQgK_Pi-Fyj9q4W2TYS0Hqs4crnzrDYRFawW-B5ee2Crh8uOoFm_cuHLU92FQU","token_type":"Bearer","expires_in":3600}'
  recorded_at: Tue, 25 May 2021 00:43:33 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=sdafaiwudfgh&type=album,artist,track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQB07Gy58RqpXtbaFFjRjyQgK_Pi-Fyj9q4W2TYS0Hqs4crnzrDYRFawW-B5ee2Crh8uOoFm_cuHLU92FQU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "albums" : {
            "href" : "https://api.spotify.com/v1/search?query=sdafaiwudfgh&type=album&offset=0&limit=20",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=sdafaiwudfgh&type=artist&offset=0&limit=20",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=sdafaiwudfgh&type=track&offset=0&limit=20",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          }
        }
  recorded_at: Tue, 25 May 2021 00:43:33 GMT
- request:
    method: get
    uri: https://api.discogs.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '25'
      X-Discogs-Ratelimit-Remaining:
      - '25'
      X-Discogs-Ratelimit-Used:
      - '0'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"hello": "Welcome to the Discogs API.", "api_version": "v2", "documentation_url":
        "http://www.discogs.com/developers/", "statistics": {"releases": 14030625,
        "artists": 7562805, "labels": 1709346}}'
  recorded_at: Tue, 25 May 2021 00:43:34 GMT
- request:
    method: get
    uri: https://api.discogs.com/releases/13084425
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '25'
      X-Discogs-Ratelimit-Remaining:
      - '24'
      X-Discogs-Ratelimit-Used:
      - '1'
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 13084425, "status": "Accepted", "year": 2008, "resource_url":
        "https://api.discogs.com/releases/13084425", "uri": "https://www.discogs.com/Toni-Granello-feat-Linda-Lee-Hopkins-Lift-Him-Up/release/13084425",
        "artists": [{"name": "Toni Granello", "anv": "", "join": "feat.", "role":
        "", "tracks": "", "id": 1227373, "resource_url": "https://api.discogs.com/artists/1227373"},
        {"name": "Linda Lee Hopkins", "anv": "", "join": "", "role": "", "tracks":
        "", "id": 93934, "resource_url": "https://api.discogs.com/artists/93934"}],
        "artists_sort": "Toni Granello feat. Linda Lee Hopkins", "labels": [{"name":
        "MAP Dance", "catno": "MAP3708", "entity_type": "1", "entity_type_name": "Label",
        "id": 14998, "resource_url": "https://api.discogs.com/labels/14998"}], "series":
        [], "companies": [], "formats": [{"name": "File", "qty": "6", "descriptions":
        ["WAV", "Single"]}], "data_quality": "Needs Vote", "community": {"have": 0,
        "want": 1, "rating": {"count": 0, "average": 0.0}, "submitter": {"username":
        "Archivizer", "resource_url": "https://api.discogs.com/users/Archivizer"},
        "contributors": [{"username": "Archivizer", "resource_url": "https://api.discogs.com/users/Archivizer"},
        {"username": "ROCKERCHILLY", "resource_url": "https://api.discogs.com/users/ROCKERCHILLY"}],
        "data_quality": "Needs Vote", "status": "Accepted"}, "format_quantity": 0,
        "date_added": "2019-01-17T14:58:59-08:00", "date_changed": "2021-05-03T12:50:02-07:00",
        "num_for_sale": 0, "lowest_price": null, "title": "Lift Him Up", "country":
        "Switzerland", "released": "2008-05-22", "released_formatted": "22 May 2008",
        "identifiers": [], "videos": [{"uri": "https://www.youtube.com/watch?v=4cXEvI2leR4",
        "title": "Toni Granello Feat. Linda Lee Hopkins  -  Lift Him Up", "description":
        "Muthafunkaz Praise Party Mix", "duration": 438, "embed": true}, {"uri": "https://www.youtube.com/watch?v=wkPEH4LAZ-M",
        "title": "Lift Him Up - Toni Granello ft Linda Lee Hopkins", "description":
        "Maybe not for church (yet), but you can sure dance around vaccuuming to this
        song!", "duration": 438, "embed": true}, {"uri": "https://www.youtube.com/watch?v=xc_phNsP7qU",
        "title": "(2008) Toni Granello feat. Linda Lee Hopkins - Lift Him Up [The
        MuthaFunkaz 12 RMX]", "description": "(Promotional Use Only. All Rights b[...]
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=%27Tis%20The%20Season%20For...%20%20Los%20Straitjackets%20Los%20Straitjackets&type=album,artist,track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCNEjk2B1n4ySZoIb-WuM8iyhLNXuuQqu9I1m7pluKIZ9aZJmYxm_sYxvQIu-V9qp3eeefmGgRC_PCTXb8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "albums" : {
            "href" : "https://api.spotify.com/v1/search?query=%27Tis+The+Season+For...++Los+Straitjackets+Los+Straitjackets&type=album&offset=0&limit=20",
            "items" : [ {
              "album_type" : "album",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/5a1rrmsSJwko0HqT6HvteB"
                },
                "href" : "https://api.spotify.com/v1/artists/5a1rrmsSJwko0HqT6HvteB",
                "id" : "5a1rrmsSJwko0HqT6HvteB",
                "name" : "Los Straitjackets",
                "type" : "artist",
                "uri" : "spotify:artist:5a1rrmsSJwko0HqT6HvteB"
              } ],
              "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/5CBWR2dK8rZbqhSfyWNep7"
              },
              "href" : "https://api.spotify.com/v1/albums/5CBWR2dK8rZbqhSfyWNep7",
              "id" : "5CBWR2dK8rZbqhSfyWNep7",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/ab67616d0000b27382741dfc9ec4ea644b4beadf",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/ab67616d00001e0282741dfc9ec4ea644b4beadf",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/ab67616d0000485182741dfc9ec4ea644b4beadf",
                "width" : 64
              } ],
              "name" : "'Tis the Season for Los Straitjackets",
              "release_date" : "2002-10-08",
              "release_date_precision" : "day",
              "total_tracks" : 13,
              "type" : "album",
              "uri" : "spotify:album:5CBWR2dK8rZbqhSfyWNep7"
            } ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 1
          },
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=%27Tis+The+Season+For...++Los+Straitjackets+Los+Straitjackets&type=artist&offset=0&limit=20",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=%27Tis+The+Season+For...++Los+Straitjackets+Los+Straitjackets&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/5a1rrmsSJwko0HqT6HvteB"
                  },
                  "href" : "https://api.spotify.com/v1/artists/5a1rrmsSJwko0HqT6HvteB",
                  "id" : "5a1rrmsSJwko0HqT6HvteB",
                  "name" : "Los Straitjackets",
                  "type" : "artist",
                  "uri" : "spotify:artist:5a1rrmsSJwk[...]
