---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Y2Q3ZmE1MDczMjQ0NDI0ODkzMmQ2OWMzNTM5NGNlYzI6NmNmNmJhZDRiMjRjNDlkYzliZjg2N2FkMzA0N2UxMDY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - dcd61c713e8e9511
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQDtxyTbKIuQ7rsNXeuWmRunC55_n4MWI2kIm-mlv9vmnRarqsxBtc_2M3OyeDX0mq-RlhQkZTo6xErGqg8","token_type":"Bearer","expires_in":3600}'
  recorded_at: Wed, 19 May 2021 16:40:44 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=The%20Payback&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDtxyTbKIuQ7rsNXeuWmRunC55_n4MWI2kIm-mlv9vmnRarqsxBtc_2M3OyeDX0mq-RlhQkZTo6xErGqg8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "albums" : {
            "href" : "https://api.spotify.com/v1/search?query=The+Payback&type=album&offset=0&limit=20",
            "items" : [ {
              "album_type" : "album",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/7GaxyUddsPok8BuhxN6OUW"
                },
                "href" : "https://api.spotify.com/v1/artists/7GaxyUddsPok8BuhxN6OUW",
                "id" : "7GaxyUddsPok8BuhxN6OUW",
                "name" : "James Brown",
                "type" : "artist",
                "uri" : "spotify:artist:7GaxyUddsPok8BuhxN6OUW"
              } ],
              "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/49vpRrUcAr2bj6aYQr0Cfl"
              },
              "href" : "https://api.spotify.com/v1/albums/49vpRrUcAr2bj6aYQr0Cfl",
              "id" : "49vpRrUcAr2bj6aYQr0Cfl",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/ab67616d0000b273ba7e1a0f706985f9747904fa",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/ab67616d00001e02ba7e1a0f706985f9747904fa",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/ab67616d00004851ba7e1a0f706985f9747904fa",
                "width" : 64
              } ],
              "name" : "The Payback",
              "release_date" : "1973-01-01",
              "release_date_precision" : "day",
              "total_tracks" : 8,
              "type" : "album",
              "uri" : "spotify:album:49vpRrUcAr2bj6aYQr0Cfl"
            }, {
              "album_type" : "single",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/6BTAonMLjUkJxnKqP4NFX6"
                },
                "href" : "https://api.spotify.com/v1/artists/6BTAonMLjUkJxnKqP4NFX6",
                "id" : "6BTAonMLjUkJxnKqP4NFX6",
                "name" : "Dante Stackz",[...]
