---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Y2Q3ZmE1MDczMjQ0NDI0ODkzMmQ2OWMzNTM5NGNlYzI6NmNmNmJhZDRiMjRjNDlkYzliZjg2N2FkMzA0N2UxMDY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - fe83a9969a72bea8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQDMeH59vIo3yoaGcoEgRcJgfxBzacNSsOdtvdbcgSrIevs3zsYssUB34suR6ZTCFqfAEFw9Asq_Vwz_KZ8","token_type":"Bearer","expires_in":3600}'
  recorded_at: Wed, 19 May 2021 16:40:45 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=%20&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDMeH59vIo3yoaGcoEgRcJgfxBzacNSsOdtvdbcgSrIevs3zsYssUB34suR6ZTCFqfAEFw9Asq_Vwz_KZ8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "albums" : {
            "href" : "https://api.spotify.com/v1/search?query=+&type=album&offset=0&limit=20",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          }
        }
  recorded_at: Wed, 19 May 2021 16:40:45 GMT
recorded_with: VCR 6.0.0
