---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Y2Q3ZmE1MDczMjQ0NDI0ODkzMmQ2OWMzNTM5NGNlYzI6NmNmNmJhZDRiMjRjNDlkYzliZjg2N2FkMzA0N2UxMDY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - f5a9194371a0fbe9
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQDvB1NZgVXqNJSU7Hyo6NDqkvzhD5QweLakjS1-3VXKMRFehAx9YPlk2r8UD2JjfRC5ZgDukbA2ae4w46Q","token_type":"Bearer","expires_in":3600}'
  recorded_at: Wed, 19 May 2021 16:40:44 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDvB1NZgVXqNJSU7Hyo6NDqkvzhD5QweLakjS1-3VXKMRFehAx9YPlk2r8UD2JjfRC5ZgDukbA2ae4w46Q
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error" : {
            "status" : 400,
            "message" : "No search query"
          }
        }
  recorded_at: Wed, 19 May 2021 16:40:45 GMT
recorded_with: VCR 6.0.0
