---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Y2Q3ZmE1MDczMjQ0NDI0ODkzMmQ2OWMzNTM5NGNlYzI6NmNmNmJhZDRiMjRjNDlkYzliZjg2N2FkMzA0N2UxMDY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 2faa4e14ebcc1bf1
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQDNgS4nBNlM51AbYYKRfFUKL1tGD14lu-BaVjmy8yz1M-SvOWQLbX-VLPg4PNC_sjXt_quoEfMQngwsZaM","token_type":"Bearer","expires_in":3600}'
  recorded_at: Wed, 19 May 2021 23:52:27 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=fasdfasdfsfgdsfghsdfgas&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDNgS4nBNlM51AbYYKRfFUKL1tGD14lu-BaVjmy8yz1M-SvOWQLbX-VLPg4PNC_sjXt_quoEfMQngwsZaM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "albums" : {
            "href" : "https://api.spotify.com/v1/search?query=fasdfasdfsfgdsfghsdfgas&type=album&offset=0&limit=20",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          }
        }
  recorded_at: Wed, 19 May 2021 23:52:28 GMT
recorded_with: VCR 6.0.0
