---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Y2Q3ZmE1MDczMjQ0NDI0ODkzMmQ2OWMzNTM5NGNlYzI6NmNmNmJhZDRiMjRjNDlkYzliZjg2N2FkMzA0N2UxMDY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - af5f750baed49ebb
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQArbTc4-5ZEbcBc0B_wWJZ_rHa5ROJo0qUyRO2wervjxvf6UPfjVftPvQC_H1OeoYJ7J2591B5UUKVf6Gs","token_type":"Bearer","expires_in":3600}'
  recorded_at: Wed, 19 May 2021 22:52:21 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQArbTc4-5ZEbcBc0B_wWJZ_rHa5ROJo0qUyRO2wervjxvf6UPfjVftPvQC_H1OeoYJ7J2591B5UUKVf6Gs
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error" : {
            "status" : 400,
            "message" : "No search query"
          }
        }
  recorded_at: Wed, 19 May 2021 22:52:24 GMT
recorded_with: VCR 6.0.0
