---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Y2Q3ZmE1MDczMjQ0NDI0ODkzMmQ2OWMzNTM5NGNlYzI6NmNmNmJhZDRiMjRjNDlkYzliZjg2N2FkMzA0N2UxMDY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 696ec631527a3cd4
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQA1S5RGfmIbRHZSOOafmWzY6bY39jGhY_kE5aK1Jyoqib822TPIYuVhFyceYx4fB2sU-olVfgaZ0Yo4l5g","token_type":"Bearer","expires_in":3600}'
  recorded_at: Tue, 25 May 2021 17:16:29 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=fasdfasdfsfgdsfghsdfgas&type=album,artist,track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQA1S5RGfmIbRHZSOOafmWzY6bY39jGhY_kE5aK1Jyoqib822TPIYuVhFyceYx4fB2sU-olVfgaZ0Yo4l5g
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "albums" : {
            "href" : "https://api.spotify.com/v1/search?query=fasdfasdfsfgdsfghsdfgas&type=album&offset=0&limit=20",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=fasdfasdfsfgdsfghsdfgas&type=artist&offset=0&limit=20",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=fasdfasdfsfgdsfghsdfgas&type=track&offset=0&limit=20",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          }
        }
  recorded_at: Tue, 25 May 2021 17:16:29 GMT
recorded_with: VCR 6.0.0
