---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Y2Q3ZmE1MDczMjQ0NDI0ODkzMmQ2OWMzNTM5NGNlYzI6NmNmNmJhZDRiMjRjNDlkYzliZjg2N2FkMzA0N2UxMDY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - e736ad426f098e71
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQCyt-DPE2Wu3Yyw3wLBGAXIzN1gYLS0pjZ1XzzSptl7-8ULY7pfRpuJwpBx2O6KAwfwhQwaGSsEomfIQHI","token_type":"Bearer","expires_in":3600}'
  recorded_at: Tue, 25 May 2021 22:29:48 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=&type=album,artist,track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCyt-DPE2Wu3Yyw3wLBGAXIzN1gYLS0pjZ1XzzSptl7-8ULY7pfRpuJwpBx2O6KAwfwhQwaGSsEomfIQHI
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error" : {
            "status" : 400,
            "message" : "No search query"
          }
        }
  recorded_at: Tue, 25 May 2021 22:29:48 GMT
recorded_with: VCR 6.0.0
